{% extends "erp_app/base.html" %}
{% load widget_tweaks %}

{% block content %}
<section class="col-xs-7 main">
				<div class="main-content">
					<h2 class="main-title first">LEARN HOW TO USE OSERP</h2>
					<div class="glyphicon glyphicon-cog settings"></div>
					<div style="clear:both;"></div>
					<div class="learn-oserp">
						<div>
							<p class="button-title">Unpaid</p>
							<a class="btn btn-warning btn-lg active" role="button">{{orders.count}} OPEN INVOICES</a>
							<a class="btn btn-danger btn-lg active" role="button">${{total}} DUE</a>
						</div>
						<div class="paid-button">
							<p class="button-title">Paid</p>
							<a class="btn btn-success btn-lg btn-block" role="button">PAID LAST 30 DAYS</a>
						</div>
						<div style="clear:both;"></div>
					</div>
					<h2 class="main-title second">RECENT CUSTOMERS</h2>
					<div class="new-customer"><a class="pull-right" data-toggle="modal" data-target="#customer_modal"><button type="button" class="btn btn-primary">New Customer</button></a></div>					
					<table class="table table_hp_orders">
						<tr>
							<th>Customer</th>
							<th>PENDING INVOICES</th>
							<th>BALANCE</th>
							<th>ACTION</th>
						</tr>
						{% for customer in customers %}
						<tr>
		                    <td>{{ customer }}</td>
		                    <td><a href="#" >{{ customer.orders_set.count }} Open Invoice</a></td>
		                    <td>${{ customer.total_cost }}</td>
		                    <td> <button type="button" class="btn btn-default btn-sm">Receive Payment</button> </td>
						</tr>
						{% endfor %}
					</table>

			</section>	
			<!-- Modal -->
			<form action="" method="post" class="customer-form form-inline" role="form">{% csrf_token %}
                <div class="modal fade" id="customer_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">ADD CUSTOMER</h4>
							</div>	
                            <div class="modal-body">
								<div>
									<h5 class="modal-title customer-label" id="myModalLabel">CUSTOMER INFO</h5>
									<div class="customer-info-container">
										<div class="form-group">
											<label for="CustomerTitle" class="sr-only">Title</label>
											{{ form.title|add_class:"form-control"|attr:"type:text"|attr:"name:title"|attr:"placeholder:Title" }}
										</div>
										<div class="form-group">
											<label for="CustomerFirstName" class="sr-only">First Name</label>
											{{ form.first_name|add_class:"form-control"|attr:"type:text"|attr:"name:first_name"|attr:"placeholder:First Name" }}
										</div>
										<div class="form-group">
											<label for="CustomerLastName" class="sr-only">Last Name</label>
											{{ form.last_name|add_class:"form-control"|attr:"type:text"|attr:"name:last_name"|attr:"placeholder:Last Name" }}																				
										</div>
									</div>
									<div class="customer-info-container">			
										<div class="form-group">
											<label for="CustomerDisplayName" class="sr-only">Display Name</label>
											{{ form.display_name|add_class:"form-control"|attr:"type:text"|attr:"name:display-name"|attr:"placeholder:Display Name" }}
										</div>
										<div class="form-group">
											<label for="CustomerEmail" class="sr-only">Email</label>
											{{ form.email|add_class:"form-control"|attr:"type:text"|attr:"name:email"|attr:"placeholder:Email" }}
										</div>
										<div class="form-group">
											<label for="CustomerCompany" class="sr-only">Company</label>
											{{ form.company|add_class:"form-control"|attr:"type:text"|attr:"name:company"|attr:"placeholder:Company" }}																				
										</div>
									</div> 
								</div>

								<div>
									<h5 class="modal-title customer-label" id="myModalLabel">ADDRESS INFO</h5>
									<div class="customer-info-container">
										<div class="form-group">
											<label for="CustomerStreet" class="sr-only">Street</label>
											{{ form.billing_street|add_class:"form-control address"|attr:"type:text"|attr:"name:street"|attr:"placeholder:Street Address" }}
										</div>
										<div class="form-group">
											<label for="CustomerCity" class="sr-only">City</label>
											{{ form.billing_city|add_class:"form-control address"|attr:"type:text"|attr:"name:city"|attr:"placeholder:City" }}
										</div>
									</div>
									<div class="customer-info-container">			
										<div class="form-group ">
											<label for="CustomerCity" class="sr-only">State</label>
											{{ form.billing_state|add_class:"form-control"|attr:"type:text"|attr:"name:state"|attr:"placeholder:State" }}
										</div>
										<div class="form-group">
											<label for="CustomerZip" class="sr-only">Zip Code</label>
											{{ form.billing_zip|add_class:"form-control"|attr:"type:text"|attr:"name:zip"|attr:"placeholder:Zip Code" }}
										</div>
										<div class="form-group">
											<label for="CustomerCountry" class="sr-only">Country</label>
											{{ form.billing_country|add_class:"form-control"|attr:"type:text"|attr:"name:country"|attr:"placeholder:Country" }}																				
										</div>
									</div> 
								</div>								
								<div>
									<h5 class="modal-title customer-label" id="myModalLabel">ADDITIONAL INFO</h5>
                                    {{form.other_details|add_class:"form-control"|attr:"name:description"|attr:"placeholder:Add any additional comments" }}
                                </div>
							</div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary submit">Save changes</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </form>	

			<aside class="col-xs-3 sidebar">
				<div class="sb-content">
					<h3>Advertising, interesting information (e.g. markets) and extra options will go here</h3>
				</div>
			</aside>
{% endblock %}