{% extends "erp_app/base.html" %}
{% block content %}
<section class="col-xs-7 main">
				<div class="main-content">
					<h2 class="main-title first">LEARN HOW TO USE OSERP</h2>
					<div class="glyphicon glyphicon-cog settings"></div>
					<div style="clear:both;"></div>
					<div class="learn-oserp">
						<a><div class="box learn-customers"><span>CUSTOMERS</span></div></a>
						<a><div class="box learn-orders"><span>ORDERS</span></div></a>
						<a><div class="box learn-expenses"><span>EXPENSES</span></div></a>
						<div style="clear:both;"></div>
					</div>
					<h2 class="main-title second">RECENT ORDERS</h2>
					<table class="table table_hp_orders">
						<tr>
							<th>Customer</th>
							<th>Invoice Number</th>
							<th>Delivery Due Date</th>
							<th>Amount Due</th>
						</tr>
					{% if empty_orders == False %}	
						{% for order in list_of_orders %}
						<tr>
		                    <td>{{ order.customer.company }}</td>
		                    <td>{{ order.invoice_number }}</td>
		                    <td>{{ order.delivery_due_date }}</td>
		                    <td>${{ order.customer.total_cost }}</td>
						</tr>
						{% endfor %}
					{% else %}
						<tr>
		                    <td> </td>
		                    <td> </td>
		                    <td> </td>
		                    <td> </td>
						</tr>
					{% endif %}
					</table>

					<h2 class="main-title second">RECENT EXPENSES</h2>
					
					<table class="table table_hp_orders">
						<tr>
							<th>Expense Name</th>
							<th>Description</th>
							<th>Date Paid</th>
							<th>Amount Paid</th>
						</tr>
						{% if empty_expenses == False %}	
							{% for expense in list_of_expenses %}
							<tr>
								<td>{{ expense.expense_name }}</td>
								<td>{{ expense.description }}</td>
								<td>{{ expense.date_paid }}</td>
								<td>${{ expense.amount_paid }}</td>
							</tr>
							{% endfor %}
						{% else %}
							<tr>
			                    <td> </td>
			                    <td> </td>
			                    <td> </td>
			                    <td> </td>
							</tr>
						{% endif %}
					</table>
				</div>
			</section>		
	
			<aside class="col-xs-3 sidebar">
				<div class="sb-content">
					<h3>Advertising, interesting information (e.g. markets) and extra options will go here</h3>
				</div>
			</aside>
{% endblock %}